<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate my Tutor</title>
    <link rel="icon" type="image/png" href="public/favicon.png">
    <link href="public/css/mystyles.css" rel="stylesheet">
</head>

<body> 
    <header>
        <img src="public/logo.png" alt="logo">
    </header>

    <nav role="navigation" aria-label="main navigation">      
        <div>
            <a>Home</a>
            <a>Tutors</a>
            <a>Placeholder</a>
        </div>
        <div>
            <a><strong>Sign up</strong></a>
            <a>Log in</a>
        </div>
    </nav>

    <div>
        <aside>
            <p>Find a Tutor</p>
            <div>
                <input type="text" placeholder="Search">
            </div>
        </aside>

        <main>
            <section>
                <div>
                    <img src="public/Hero.webp" alt="Tutor helping student on zoom">
                    <p>Your time is worth it!</p>
                    <p>Get recommendations from other students who have already found their perfect tutor. Enter a tutor's name in the search bar or browse available tutors.</p>
                </div>
            </section>
        </main>
    </div>

    <footer>
        <div>
            <p>Rate my Tutor by Joseph Palafos, Sean Rowan, and Daisy Olivera. 2023</p>
        </div>
    </footer>
</body>
</html>
