     <section class="is-primary hero mr-3 ml-6 box" >
            <div class="hero-body">
                <img class= "box" src="/public/Hero.webp" alt="Tutor helping student on zoom">
              <p class="title has-text-centered ">
                Your time is worth it!
              </p>
     
              <p class="subtitle has-text-black pt-2">
                Get recommendations from other students who have already found their perfect tutor. Enter a tutor's name in the search bar or browse available tutors.
              </p>
            </div>
          </section>