     <section class="is-primary hero mr-3 ml-6 box" >
            {{#if logged_in}}
            <h1 class="has-text-centered is-size-1">{{username}} is logged in!</h1>
            {{/if}}
            <div class="hero-body">
                <img class= "box" src="Hero.webp" alt="Tutor helping student on zoom">
              <p class="title has-text-centered ">
                Your time is worth it!
              </p>
     
              <p class="subtitle has-text-black pt-2">
                Get recommendations from other students who have already found their perfect tutor. Enter a tutor's name in the search bar or browse available tutors.
              </p>
            </div>
          </section>
    