<div class="columns is-centered">
        <div class = "column is-full">
           <div class="is-flex is-justify-content-center">
        <form class="box has-background-beige-lighter ml-5 card">
            <p class="control has-icons-left has-icons-right"></p>
            <div class="field">
              <h2 class = "is-size-4 p-1"> <em> Already have an account?</em> <Strong>Login</strong> below!</h2>
        
              <div class="control has-icons-left mt-5">
                <input class="input is-info" type="text" placeholder="Username" id="username-login">
                <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
              </div>
          </div>
        <div class="field">
    
          <div class="control has-icons-left">
            <input class="input is-info" type="password" placeholder="Password" id="password-login"  >
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
    
      <div class="field">
        <div class="control">
          <button id="button" class="button is-link mt-5">Login</button>
        </div>
      </div>
    </form>
<script src="/js/login.js"></script>
