      <div class="login-form-container">
        <div class="card">
          <div class="card-content">
            <h2 class="is-size-5 p-1"> <em> Already have an account?</em></h2>
            <h2><Strong> Login</Strong> below!</h2>
          
      
          <div class="content">
           <div class="field">
            <p class="control has-icons-left mt-5">
              <input class="input is-info" type="text" placeholder="Username" id="username">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
           </div>
      
           <div class="field">
            <div class="control has-icons-left">
              <input class="input is-info" type="password" placeholder="Password" id="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
      
        <div class="field">
          <div class="control">
            <button class="button is-link mt-5" id="button" type="submit">Login</button>
          </div>
        </div>
        </div>
       </div>
      </div>
      </div>

<script src="/js/login.js"></script>

