<form class="box has-background-grey-light login-form mx-5">
    <div class="field">
        <h2 class="is-size-5 p-1"> <em> Already have an account?</em></h2>
      <h2><Strong> Login</Strong> below!</h2>
    </div>


      <div class="control has-icons-left mt-5">
        <input class="input-password is-info" type="text" placeholder="Username" id="username-login" >
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    <div class="field">

      <div class="control has-icons-left">
        <input class="input-password is-info" type="password" placeholder="Password" id="password-login"  >
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

  <div class="field">
    <div class="control">
      <button type="submit" class="button is-link mt-5">Login</button>
    </div>
  </div>
</form>
<script src="../public/js/login.js"></script>
