
{{> tutor-details}}


<div class="container">
  <div class="columns is-multiline"> <!-- Use columns for a row of cards, is-multiline for responsive layout -->
    <div class="column is-one-third"> <!-- Each column will contain one card -->
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4 is-size-2">{{tutor_name}}</h2>
          <h3 class="is-size-4">{{tutor_name}} is rated a {{rateings.[0].rate}}</h3>
         </div>
        </div>
      </div>
    </div>