<div class="row align-center mb-5">
    <div class="col-md-6">
      <!-- Call the helper function with triple brackets to render the span as HTML -->
      <h2>Tutor: {{tutor_name}}</h2>
    </div>
    <div class="col-md-6">
      <h3>This tutor is rated a {{tutor_rating}}</h3>
      <h3>Have you used this tutor before? Leave your rating!</h3>
      <label for="ratingSelect">Select a rating:</label>
      <select id="ratingSelect">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button onclick="submitRating()">Submit my Rating</button>
    </div>
  </div>
  
  
